<!--  HEADER | redes sociais | logo | fale conosco-->
<header>

    <div class="row">


        <div class="col-md-4 mb-3 pt-4 mt-3 border-0">

            <a href="https://www.facebook.com/anjamodaseacessorios/" target="_blank">
                <img src="https://nuh22.github.io/AnjaModas/src/img/facebook.png" title="Acessar Facebook" alt="Acessar Facebook"></a>

            <a href="https://www.instagram.com/anjamodaseacessorios/" target="_blank">
                <img src="https://nuh22.github.io/AnjaModas/src/img/instagram.png" title="Acessar Instagram" alt="Acessar Instagram"></a>

            <a href="https://api.whatsapp.com/send?phone=5511994228714" target="_blank">
                <img src="https://nuh22.github.io/AnjaModas/src/img/whatsapp.png" alt="Whatsapp"></a>
        </div>

        <div class="col-md-4 mb-3 mt-3 border-0">
            <a href="">
                <img border="0" alt="Logo Anja Modas" src="https://nuh22.github.io/AnjaModas/src/img/Logo-Anja-modas.svg" class="mx-auto d-block" id="logo">
            </a>
        </div>


        <div class="col-md-4 mb-3 pt-2 mt-3 border-0 text-center">
            Fale com a gente
            <br>
            <a href="https://api.whatsapp.com/send?phone=5511994228714" style="color:#FF3666">(11)
                99422-8714</a>
            <br>
            ou
            <br>
            <a href="mailto:anjamodas@gmail.com" style="color:#FF3666">anjamodasacessorios@gmail.com</a>
            <br>
            2°a 6° das 9h ás 18h


        </div>

    </div>

    <nav class="mb-3 border-0 active row">

        <!--O que você precisa? -->

        <div class="col-md-12 col-4">
            <p class="text-center text-dark font-weight-bold ">O que você precisa?</p>

            <!--INÍCIO NAV -->

            <ul class="nav justify-content-center">
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/academia.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Academia.png" alt="Roupas e Academia" class="img-fluid">
                        <br> Academia </a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/acessorios.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Acessorios.png" alt="Acessorios" class="img-fluid">
                        <br>Acessórios</a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/blusas.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Blusas.png" alt="Blusas" class="img-fluid">
                        <br>Blusas</a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/calcas.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Calcas.png" alt="Calças" class="img-fluid">
                        <br>Calças/Shorts</a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/pijama.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Pijamas.png" alt="Pijamas" class="img-fluid">
                        <br>Pijamas</a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/roupasIntimas.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Roupa-intima.png" alt="Roupa Intima" class="img-fluid">
                        <br> Roupa Intima</a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/sapatos.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/sapatos.png" alt="sapatos" class="img-fluid">
                        <br>Sapatos</a>
                </li>
                <li class="nav-item text-center border rounded">
                    <a class="nav-link" href="categorias/vestidos.html" style="color:#FF3666">
                        <img src="https://nuh22.github.io/AnjaModas/src/img/icones/Vestidos.png" alt="Vestidos" class="img-fluid">
                        <br>Vestidos</a>
                </li>

            </ul>
        </div>
    </nav>
</header>