<!--   RODAPÉ DO SITE -->
<footer>
    <div class="row">
        <div class="col-md-8">
            <p>Venha conhecer a loja e se apaixone!
                <br>
                <p>Av.Paraguaçu Paulista 251 - Vila Santa Teresa- SP | Cep: 03564-000
                    <br> Tel: (11) 99422-8714</p>
                <br>
        </div>

        <div class="col-md-4" id="redes">
            <h1> Nos acompanhe nas redes sociais: </h1>
            <a href="https://www.facebook.com/anjamodaseacessorios/" target="_blank">
                <img src="https://nuh22.github.io/AnjaModas/src/img/facebook.png" title="Acessar Facebook" alt="Acessar Facebook">
            </a>
            <a href="https://www.instagram.com/anjamodaseacessorios/" target="_blank">
                <img src="https://nuh22.github.io/AnjaModas/src/img/instagram.png" title="Acessar Instragram" alt="Acessar Instagram">
            </a>
            <a href="https://api.whatsapp.com/send?phone=5511994228714" target="_blank">
                <img src="https://nuh22.github.io/AnjaModas/src/img/whatsapp.png" title="Acessar Whatsapp" alt="Acessar Whatsapp">
            </a>
        </div>
    </div>
</footer>